uk.ac.kcl.mde.awk/src-gen
uk.ac.kcl.mde.awk/xtend-gen
uk.ac.kcl.mde.awk/bin
uk.ac.kcl.mde.awk.ide/src-gen
uk.ac.kcl.mde.awk.ide/xtend-gen
uk.ac.kcl.mde.awk.ide/bin
uk.ac.kcl.mde.awk.tests/src-gen
uk.ac.kcl.mde.awk.tests/xtend-gen
uk.ac.kcl.mde.awk.tests/test-bin
uk.ac.kcl.mde.awk.ui/src-gen
uk.ac.kcl.mde.awk.ui/xtend-gen
uk.ac.kcl.mde.awk.ui/bin
uk.ac.kcl.mde.awk.ui.tests/src-gen
uk.ac.kcl.mde.awk.ui.tests/xtend-gen
uk.ac.kcl.mde.awk.ui.tests/test-bin
uk.ac.kcl.mde.awk.xpect/src-gen
uk.ac.kcl.mde.awk.xpect/bin
uk.ac.kcl.mde.awk/model/generated/
