uk.ac.kcl.mde.gawk.ide/bin/
uk.ac.kcl.mde.gawk.ide/src-gen/
uk.ac.kcl.mde.gawk.ide/src/
uk.ac.kcl.mde.gawk.tests/src-gen/
uk.ac.kcl.mde.gawk.tests/src/
uk.ac.kcl.mde.gawk.tests/test-bin/
uk.ac.kcl.mde.gawk.tests/xtend-gen/
uk.ac.kcl.mde.gawk.ui.tests/src-gen/
uk.ac.kcl.mde.gawk.ui.tests/test-bin/
uk.ac.kcl.mde.gawk.ui/bin/
uk.ac.kcl.mde.gawk.ui/plugin.xml
uk.ac.kcl.mde.gawk.ui/src-gen/
uk.ac.kcl.mde.gawk.ui/src/
uk.ac.kcl.mde.gawk/.antlr-generator-3.2.0-patch.jar
uk.ac.kcl.mde.gawk/bin/uk/ac/kcl/mde/gawk/AbstractGawkRuntimeModule.class
uk.ac.kcl.mde.gawk/bin/uk/ac/kcl/mde/gawk/Gawk.xtextbin
uk.ac.kcl.mde.gawk/bin/uk/ac/kcl/mde/gawk/GawkRuntimeModule.class
uk.ac.kcl.mde.gawk/bin/uk/ac/kcl/mde/gawk/GawkStandaloneSetup.class
uk.ac.kcl.mde.gawk/bin/uk/ac/kcl/mde/gawk/GawkStandaloneSetupGenerated.class
uk.ac.kcl.mde.gawk/bin/uk/ac/kcl/mde/gawk/gawk/
uk.ac.kcl.mde.gawk/bin/uk/ac/kcl/mde/gawk/generator/
uk.ac.kcl.mde.gawk/bin/uk/ac/kcl/mde/gawk/parser/
uk.ac.kcl.mde.gawk/bin/uk/ac/kcl/mde/gawk/scoping/
uk.ac.kcl.mde.gawk/bin/uk/ac/kcl/mde/gawk/serializer/
uk.ac.kcl.mde.gawk/bin/uk/ac/kcl/mde/gawk/services/
uk.ac.kcl.mde.gawk/bin/uk/ac/kcl/mde/gawk/validation/
uk.ac.kcl.mde.gawk/model/
uk.ac.kcl.mde.gawk/plugin.xml
uk.ac.kcl.mde.gawk/src-gen/
uk.ac.kcl.mde.gawk/src/uk/ac/kcl/mde/gawk/GawkRuntimeModule.java
uk.ac.kcl.mde.gawk/src/uk/ac/kcl/mde/gawk/GawkStandaloneSetup.java
uk.ac.kcl.mde.gawk/src/uk/ac/kcl/mde/gawk/generator/
uk.ac.kcl.mde.gawk/src/uk/ac/kcl/mde/gawk/scoping/
uk.ac.kcl.mde.gawk/src/uk/ac/kcl/mde/gawk/validation/
uk.ac.kcl.mde.gawk/xtend-gen/
uk.ac.kcl.mde.gawk.ide/META-INF/MANIFEST.MF
uk.ac.kcl.mde.gawk.tests/META-INF/MANIFEST.MF
uk.ac.kcl.mde.gawk.ui.tests/META-INF/MANIFEST.MF
uk.ac.kcl.mde.gawk.ui/META-INF/MANIFEST.MF
uk.ac.kcl.mde.gawk/META-INF/MANIFEST.MF
uk.ac.kcl.mde.gawk/bin/uk/ac/kcl/mde/gawk/Gawk.xtext
uk.ac.kcl.mde.gawk/build.properties

